name: CI-CD Pipeline to kubernetes

on:
  push:
    branches: 
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: Docker Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

 
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/k8s-devops-project .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/k8s-devops-project

      - name: set up kubectl
        uses: azure/setup-kubectl@v3

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml